/* GENERAL RESET */
* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/* UTILITIES */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.buttonstyle {
    padding: 10px 20px;
    text-decoration: none;
    background: #0061ff;
    color: white;
}


/* NAV */

.retronav {
    background-color: #fff;
    height: 80px;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    line-height: 80px;
    background: white;
    z-index: 5;
}

.topline .partesx img {
    vertical-align: sub;
}

.topline li {
    padding: 0px 20px;
}

.partesx {
    width: calc(100% / 3);    
    float: left;
}

.partesx li {
    float: left;
    list-style: none;
}

.partedx {
    width: calc(100% / 3);    
    float: right;
}

.partedx li {
    float: right;
    list-style: none;
}


/* JUMBOTRONE */
.jumbo {
    background-color: #b4d0e7;
    width: 100%;
    position: relative;
}

.jumbotext {
    padding: 50px;
    width: 80%;
    background-color: #b4d0e7;
    margin: auto;
}

.jumbo h1 {
    font-size: 10vh;
    margin-bottom: 50px;
}

.jumbo h3 {
    width: 35%;
    margin-bottom: 40px;
}

.jumbo h4 {
    width: 35%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.contenitore-jumbo-img {
    width: 40%;
    position: absolute;
    right: 275px;
    bottom: -70px;}

.jumboimg {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}


/* SECTION 2 */

.sec2 {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.titolone {
    font-size: 6vh;
    margin-bottom: 20px;
}

.struttura {
    margin-top: 30px;
}

/* COLONNE */
.colonna {
    width: 30%;  
    height: 1000px;
    float: left;  
    border: 1px solid lightgray;
}

.centro {
    margin: 0px 5% 0px 5%;
}

.colonna h5 {
    margin: 30px 0px;
}

.colonna h3 {
    margin-top: 40px;
}

.colonna .unit {
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 40px;
}

.elenco{
    list-style: none;
}

.spec h1 {
    font-size: 5vh;
}

.spec h6 {
    margin-bottom: 50px;
}

.elenco li {
    margin: 30px 0px;
}

.dx {
    float: right;
}

.spec {
    padding: 25px;
}

.prova {
    display: inline-block;
    margin: 30px auto;
    width: 100%;
    text-align: center;
}


/* COLONNA BASSA SECTION 2 */
.colsotto{
    border: 1px solid lightgray;
    margin: 40px 0;
}

.colsotto .unit {
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 40px;
}

.cont {
    position: relative;
}

.m-10 {
    margin-bottom: 10px;
}

.colsotto h1 {
    display: inline-block;
}

.cont a {
    position: absolute;
    right: 20px;
    top: 20px;
}

.cont p {
    margin-top: 30px;
}

.bottonesotto {
    padding: 10px 80px;
}


/* SECTION 3 */
.section3 {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.img-partner {
    display: inline-block;
    width: 50%;
}

.img-partner img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.text {
    float: right;
    width: 50%;
    padding: 40px;
}

.m-20 {
    margin-bottom: 30px;
}

.text h1 {
    font-size: 5vh;
}

.text p {
    line-height: 25px;
    margin-bottom: 40px;
}

.text a {
    background-color: white;
    color: black;
    border: 2px solid black;
}


/* SECTION 4 */
.section4 {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.section4 h1 {
    font-size: 6vh;
    margin-bottom: 40px;
}

.card {
    width: 30%;
    height: 560px;
    float: left;
    padding: 30px;
}

.img-card {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

