/* GENERAL RESET */
* {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/* UTILITIES */

.buttonstyle {
    padding: 10px 20px;
    text-decoration: none;
    background: #0061ff;
    color: white;
}


/* NAV */

.retronav {
    background-color: #fff;
    height: 80px;
}

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    line-height: 80px;
    background: white;
}

.topline .partesx img {
    vertical-align: sub;
}

.topline li {
    padding: 0px 20px;
}

.partesx {
    width: calc(100% / 3);    
    float: left;
}

.partesx li {
    float: left;
    list-style: none;
}

.partedx {
    width: calc(100% / 3);    
    float: right;
}

.partedx li {
    float: right;
    list-style: none;
}


/* JUMBOTRONE */
.jumbo {
    background-color: #b4d0e7;
    width: 100%;
    position: relative;
}

.jumbotext {
    padding: 50px;
    width: 80%;
    background-color: #b4d0e7;
    margin: auto;
}

.jumbo h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

.jumbo h3 {
    width: 35%;
    margin-bottom: 40px;
}

.jumbo h4 {
    width: 35%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.contenitore-jumbo-img {
    width: 40%;
    position: absolute;
    right: 275px;
    bottom: -70px;}

.jumboimg {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

